.*.swp
cmd/coredhcp/leases.txt
cmd/coredhcp/leases4.txt
cmd/coredhcp/config.yml
cmd/coredhcp/coredhcp
cmd/client/client
cmd/coredhcp-generator/coredhcp-generator
.vscode
coverage.txt

bin/
coverage.out
server6
